* {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 50px;
}



.odin {
    width: 300px;
    height: 80px;
    margin: auto;
    display: block;
    padding-bottom: 10px;
}

.odin:hover {
    width: 320px;
    height: 90px;
}

body {
    height: 100vh;
    background: linear-gradient(#d4a373, #fefae0);
    font-family: 'Kanit', sans-serif;
}

.block {
    display: block;
    margin: auto;
    border-radius: 25px;
    width: min(70%, 500px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}

#contents {
    margin-top: 2rem;
    height: 140px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);

}

.recipe {
    padding: 5px;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    color: blue;
    font-size: 26px;
}